web.desite/login.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style-css-me/login.main.style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style-css-me/css/bootstrap.min.css">
    <script type="text/javascript" src="../public/css/style-css-me/js/jquery.js"></script>
    <script type="text/javascript" src="../public/css/style-css-me/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <form class="login">
                <div class="col-md-4"></div>
                <div class="form-group col-md-6">
                    <img src="../public/css/style-css-me/img/THES-LOGO-center.png" class="img-responsive form-group" alt="Responsive image">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Username..">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Password..">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success form-control ">Sing In</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

app/views/login.jade
doctype html
head
  meta(charset='UTF-8')
  title Document
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/login.main.style.css')
  link(rel='stylesheet' type='text/css' href=' /css/style-css-me/css/bootstrap.min.css')
  script(type='text/javascript' src=' /css/style-css-me/js/jquery.js')
  script(type='text/javascript' src=' /css/style-css-me/js/bootstrap.min.js')
.container-fluid
  .row
    form.login(name='login', method='POST', action='/login' id='login')
      .col-md-4
      .form-group.col-md-6
        img.img-responsive.form-group(src=' /css/style-css-me/img/THES-LOGO-center.png' alt='Responsive image')
      .col-md-4
      .col-md-8
        .col-md-4
          .form-group
            input.form-control(name='username', type='username', placeholder='Enter Username..' )
          .form-group
            input.form-control(name='password', type='password',  placeholder='Enter Password..')
          .form-group
            button.btn.btn-success.form-control(type='submit', value='Log in') Sing In
