web.desite/viewContents.html
<!DOCTYPE html>
<html lang="en" ng-app="application">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../public/css/style-css-me/index.main.style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style-css-me/css/bootstrap.min.css">
	<script type="text/javascript" src="../public/css/style-css-me/js/jquery.js"></script>
	<script type="text/javascript" src="../public/css/style-css-me/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2> List Games </h2>
        </div>
        <div class="row" >
            <a ui-sref="home">home</a>
            <div ui-view></div>
        </div>
        <div class="row">
            <div class="list-group" ng-controller="storeController as store">
                <div class="list-group-item" ng-repeat="game in games">
                    <h1>{{game.textContent}}</h1>
                    <h2>{{game.titleContent}}</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover" ng-controller="storeController as store"> 
                <tr>
                    <th>#</th>
                    <th>Title Contents</th>
                    <th>text Content</th>
                </tr>
                <tr >
                    <td>1</td>
                    <td>Hot to Castgame</td>
                    <td>this is my game</td>
                    <td><button type="button" class="btn btn-priamry" ng-click="" >Edit</button></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <a href="#" type="button" class="btn btn-info"> Back </a>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <form name='login', method='POST', action='/login'>
                    <input type="username" class="form-control" placeholder="username..">
                    <input type="password" class="form-control" placeholder="password..">
                    <br>
                    <button type="submit" class=" btn btn-default">Log In</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../public/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src='../public/lib/angular-ui-router/release/angular-ui-router.min.js'></script>
    <script src="../public/scripts/controllers/viewContent.client.controller.js"></script>
    <script src="roouter.js"></script>
    <script src="../public/scripts/services/service.js"></script>
</body>
</html>

app/views/viewContents.jade
doctype html
html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet' href='css/style-css-me/index.main.style.css')
    link(rel='stylesheet' type='text/css' href='css/style-css-me/css/bootstrap.min.css')
    script(type='text/javascript' src='css/style-css-me/js/jquery.js')
    script(type='text/javascript' src='css/style-css-me/js/bootstrap.min.js')
  .container
    .page-header
      h2  List Games 
    .row
      div
        h1 qqqqqqqqqqqqqqqq
        form(name='listContent/:_id', method='DLETE', action='/listContent/581891')
          div
            input(type='submit', value='Log in')
    .row(ng-app="ListContent")
      table.table.table-hover(ng-controller='storeController as store')
        tr
          th #
          th Title Contents
          th Text Contents
        tr(ng-repeat='game in games')
          td {{$index+1}} 
          td {{game.textContent}}
          td {{game.titleContent}}
          td.button.btn.btn-danger.btn-sm(type='submit') delete
      a.btn.btn-info(href='/insertcontent' type='button')  Back 
  script(src='lib/angular/angular.min.js')
  script(type='text/javascript' src='lib/angular-ui-router/release/angular-ui-router.min.js')
  script(src='scripts/controllers/viewContent.client.controller.js')
  script(type='text/javascript', src='/modules/content/controllers/insertContent.client.controllers.js')
  script(type='text/javascript', src='/modules/content/content.client.module.js')
  script(src='scripts/services/service.js')
